=prebutton
    width: 140px
    height: 60px
    background-color: $red
    border: none
    border-radius: 50px
    cursor: pointer
    &:hover
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.61)
        transition: .35s
    &:active
        box-shadow: none

=prefilter_img
    height: 58px
    width: 58px
    background-position: center
    background-repeat: no-repeat
    background-color: #000
    border-radius: 50px
    background-size: 28px
    border: 3px solid #fff
