@import fonts
@import colors
@import button
@import jquery.fs.selecter
@import precss
@import hamburgers

*
    margin: 0
    padding: 0
    clear: both
li
    a
        color: #96a6a7
        &:hover
            text-decoration: none
            color: $red
            transition: .45s ease

.wraper
    max-width: 980px
    width: 100%
    margin: 0 auto
.nav
    width: 100%
    height: 74px
.row
    width: 100%
    display: flex
    align-items: center
.logo
    width: 154px
    font-family: "gotham medium"
    a
        text-decoration: none
        color: #4b5b6a
        font-size: 1.875rem
        &:hover
            text-decoration: none
            color: #4b5b6a
        .logo_text
            padding-left: 5px
.nav_nav
    width: 435px
    ul
        display: flex
        justify-content: space-between
        padding-top: 15px
        li
            display: inline-block
            list-style-type: none
            font-family: "gotham medium"
            text-transform: uppercase
            font-size: 0.875rem
#my-menu
    display: none
    position: absolute
    z-index: 20
    li
        list-style-type: none
        margin-top: 5px
        margin-right: 10px
        border-radius: 8px
        background-color: rgba(14, 22, 33, .9)
        text-align: center
        padding: 5px 10px
        height: 35px
        box-shadow: 7px -4px 5px 0px rgba(0,0,0,0.75)
.nav_search
    display: flex
    .nav_search_lupa
        background-color: #e2dee0
        width: 50%
        height: 74px
        display: flex
        justify-content: center
        align-items: center
        .fa
            font-size: 1.5rem
            color: #ffffff
            &:hover
                color: #96a6a7
                transition: .45s ease
    .nav_search_login
        width: 100%
        height: 74px
        background-color: $red
        display: flex
        justify-content: center
        align-items: center
        .fa
            color: #fff
        .login_text
            color: #fff
            margin-left: 20px
            text-transform: uppercase
            &:hover
                color: #666666
                transition: .45s ease
        a:hover
            text-decoration: none
.header_bg
    position: relative
    img
        background-size: cover
        min-width: 100%
        height: auto
        z-index: 0
.header_bg2
    position: absolute
    left: 0
    top: 74px
    width: 100%
    img
        background-size: cover
        min-width: 100%
        height: auto
        z-index: 1
        background-color: rgba(0,0,0,.66)
.header_looking_text
    position: absolute
    z-index: 3
    color: white
    font-size: 1.875rem
    top: 120px
    left: 0
    display: flex
    justify-content: center
    width: 100%
    font-family: "gotham medium"
.header_looking_form
    position: absolute
    z-index: 3
    top: 180px
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    align-items: center
    font-family: "gotham medium"
.header_looking_form_select
    z-index: 10
    margin-top: 20px
    width: 482px
    margin-left: 10px
    .col-md-6
        padding-right: 0
.header_looking_form_text
    width: 470px
    height: 50px
    border-radius: 50px
    border: 1px solid rgba(102, 102, 102, .7)
    padding-left: 25px
    color: #fff
    background-color: rgba(102, 102, 102, .35)
    font-family: "gotham book"
    z-index: -20
    //     position: absolute
.sel1
    position: relative
.arow-down
    .fa
        color: #fff
        position: absolute
        top: 25px
        right: 13px
.header_looking_form_button
    +prebutton
    color: #fff
    margin-top: 20px
    text-transform: uppercase
    font-family: "gotham medium"
.sel2
    z-index: 1
.sel1
    z-index: 2
.second_nav
    height: 60px
    font-family: 'gotham medium'
    .col-md-4
        padding-left: 0
.second_nav_li
    li
        margin-top: 8%
        display: inline-block
        text-transform: uppercase
        font-size: 0.75rem
        margin-left: 20px
.active
    color: $red
.second_nav_sel3_map
    display: flex
    justify-content: center
    margin-left: 30px
    .selecter-selected
        width: 115px
        height: 35px
        font-size: 0.75rem
        text-transform: uppercase
        padding-top: 8px
        color: $red
    .second_nav_map
        +prebutton
        font-size: 0.75rem
        width: 125px
        height: 35px
        background-color: #1baf5d
        margin-top: 10px
        margin-left: 30px
        text-transform: uppercase
        color: #fff
        padding-right: 20px
    .second_nav_map_2
        +prebutton
        font-size: 0.75rem
        width: 125px
        height: 35px
        margin-top: 10px
        margin-left: 30px
        text-transform: uppercase
        color: #96a6a7
        background-color: #fff
        border: 1px solid #96a6a7
        padding-right: 20px
        // display: none
.sel3
    position: relative
    z-index: 1
    .selecter-selected
        background-color: rgba(0, 0, 0, .0)
        color: $red
        font-family: 'gotham medium'
    .selecter-item
        background-color: #fff
        color: #000
        width: 115px
        height: 35px
        font-size: 0.75rem
        text-transform: uppercase
        padding-top: 8px
        padding-left: 25px
        &:last-child
            border-bottom: 1px solid rgba(102, 102, 102, 0.7)

.arow-down_map
    i
        color: #96a6a7
        // z-index: 5
        position: absolute
        right: 10px
        top: 21px
        font-size: 0.75rem
        // background-color: #fff
.second_map_hide_icon
    position: relative
    .fa
        position: absolute
        right: 15px
        top: 18px
        color: #fff
        cursor: pointer
    .map_marker_2
        color: #96a6a7
        display: none
.filter_icons
    text-transform: uppercase
    font-size: 0.75rem
    height: 50px
    display: flex
    color: #96a6a7
    align-items: center
    .icons
        justify-content: center
        display: flex
        margin-bottom: 10px
        a
            height: 30px
            width: 30px
            border-radius: 50px
            margin-left: 18px
        .house
            background-image: url(../img/Vector01.png)
            background-color: #1baf5d
        .human
            background-image: url(../img/Vector02.png)
            background-color: #b6c0c1
        .cap
            background-image: url(../img/Vector03.png)
            background-color: #b6c0c1
        .music
            background-image: url(../img/Vector04.png)
            background-color: #f19e1f
        .bus
            background-image: url(../img/Vector05.png)
            background-color: #88499c
        .filter_img
            height: 40px
            width: 40px
            background-position: center
            background-repeat: no-repeat
            // background-color: #1baf5d
            border-radius: 50px
            &:hover
                border: 3px solid #ccc


.section_posts_bg
    border-top: 1px solid #e2dee0
    background-color: #f3f1f2
.section_posts
    margin-top: 46px
    display: flex
    justify-content: space-around
.post_all_bg
    background-color: #fff
    height: 266px
    margin-left: 18px
    width: 210px
.post1
    &:hover
        filter: blur(2px)
        box-shadow: inset 0px 0px 0px 195px rgba(214,145,214,0.7)
    background-image: url(../img/post1.png)
    width: 210px  !important
    height: 140px
    border-bottom: 3px solid #1baf5d
.section_post_img
    background-size: cover
    max-width: 210px !important
    position: relative
    .post_price_1
        background-color: #1baf5d

        position: absolute
        height: 25px
        width: 65px
        border-radius: 50px
        font-size: 0.75rem
        font-family: 'gotham medium'
        color: #fff
        padding: 4px 10px
        top: 8px
        right: 0
        margin-right: 8px
    .post_1_a
        width: 195px
        position: relative
        display: flex
        justify-content: center
        margin-top: 26px
        .post_1_filter_img
            +prefilter_img
            bottom: 0
            position: absolute
            left: 40%
        .house
            background-image: url(../img/Vector01.png)
            background-color: #1baf5d
    .post_text
        width: 210px
        height: auto
        text-align: center
        font-family: 'gotham medium'
        margin-top: 5px
        .text1
            font-size: 0.875rem
            color: #566375
            margin-left: 8px
            width: 190px
        .cap
            font-size: 0.75rem
            text-transform: uppercase
            color: #1baf5d
            margin-top: 15px
        .stars
            font-size: 0.75rem
            .fa
                margin-right: -3px
            .gold_star
                color: #f19e1f
            .no_gold_star
                color: #f19e1f
                // border: 1px solid #f19e1f
            .stars_coution
                color: #96a6a7

.post_all_bg
    background-color: #fff
    height: 266px
    margin-left: 18px
    width: 210px
.post2
    &:hover
        box-shadow: inset 0px 0px 0px 195px rgba(214,145,214,0.7)
    background-image: url(../img/post2.png)
    width: 210px  !important
    height: 140px
    border-bottom: 3px solid #1baf5d
.section_post_img
    background-size: cover
    max-width: 210px !important
    position: relative
    .post_price_2
        background-color: #1baf5d
        position: absolute
        height: 25px
        width: 65px
        border-radius: 50px
        font-size: 0.75rem
        font-family: 'gotham medium'
        color: #fff
        padding: 4px 10px
        top: 8px
        right: 0
        margin-right: 8px
    .post_2_a
        width: 195px
        position: relative
        display: flex
        justify-content: center
        margin-top: 26px
        .post_2_filter_img
            +prefilter_img
            bottom: 0
            position: absolute
            left: 40%
        .house
            background-image: url(../img/Vector04.png)
            background-color: #f19e1f
    .post_text
        width: 210px
        height: auto
        text-align: center
        font-family: 'gotham medium'
        .text2
            font-size: 0.875rem
            color: #566375
            margin-left: 8px
            width: 190px
            .cap
                margin-top: 35px
                color: #f19e1f
        .stars
            font-size: 0.75rem
            .fa
                margin-right: -3px
            .gold_star
                color: #f19e1f
            .no_gold_star
                color: #f19e1f
                // border: 1px solid #f19e1f
            .stars_coution
                color: #96a6a7

.post_all_bg
    background-color: #fff
    height: 266px
    margin-left: 18px
    width: 210px
.post3
    &:hover
        box-shadow: inset 0px 0px 0px 195px rgba(214,145,214,0.7)
    background-image: url(../img/post1.png)
    width: 210px  !important
    height: 140px
    border-bottom: 3px solid #1baf5d
.section_post_img
    background-size: cover
    max-width: 210px !important
    position: relative
    .post_price_3
        background-color: #1baf5d
        position: absolute
        height: 25px
        width: 65px
        border-radius: 50px
        font-size: 0.75rem
        font-family: 'gotham medium'
        color: #fff
        padding: 4px 10px
        top: 8px
        right: 0
        margin-right: 8px
    .post_3_a
        width: 195px
        position: relative
        display: flex
        justify-content: center
        margin-top: 26px
        .post_3_filter_img
            +prefilter_img
            bottom: 0
            position: absolute
            left: 40%
        .bus
            background-image: url(../img/Vector05.png)
            background-color: #88499c
    .post_text
        width: 210px
        height: auto
        text-align: center
        font-family: 'gotham medium'
        .text3
            font-size: 0.875rem
            color: #566375
            margin-left: 8px
            width: 190px
            .cap
                color: #88499c
        .stars
            font-size: 0.75rem
            .fa
                margin-right: -3px
            .gold_star
                color: #f19e1f
            .no_gold_star
                color: #f19e1f
                // border: 1px solid #f19e1f
            .stars_coution
                color: #96a6a7

.post_all_bg
    background-color: #fff
    height: 266px
    margin-left: 18px
    width: 210px
.post4
    &:hover
        box-shadow: inset 0px 0px 0px 195px rgba(214,145,214,0.7)
    background-image: url(../img/post4.png)
    width: 210px  !important
    height: 140px
    border-bottom: 3px solid #1baf5d
.section_post_img
    background-size: cover
    max-width: 210px !important
    position: relative
    .post_price_4
        background-color: #1baf5d
        position: absolute
        height: 25px
        width: 65px
        border-radius: 50px
        font-size: 0.75rem
        font-family: 'gotham medium'
        color: #fff
        padding: 4px 10px
        top: 8px
        right: 0
        margin-right: 8px
    .post_4_a
        width: 195px
        position: relative
        display: flex
        justify-content: center
        margin-top: 26px
        .post_4_filter_img
            +prefilter_img
            bottom: 0
            position: absolute
            left: 40%
        .house
            background-image: url(../img/Vector01.png)
            background-color: #1baf5d
    .post_text
        width: 210px
        height: auto
        text-align: center
        font-family: 'gotham medium'
        .text4
            font-size: 0.875rem
            color: #566375
            margin-left: 8px
            width: 190px
            .cap
                color: #1baf5d
        .stars
            font-size: 0.75rem
            .fa
                margin-right: -3px
            .gold_star
                color: #f19e1f
            .no_gold_star
                color: #f19e1f
                // border: 1px solid #f19e1f
            .stars_coution
                color: #96a6a7

//
// .post_toggle_blur

.post_show_more1
    border-radius: 50px
    border: 3px solid #fff
    padding: 5px 18px
    position: absolute
    top: 5%
    left: 16%
    font-size: 0.75rem
    font-family: 'gotham medium'
    text-transform: uppercase
    color: #fff
    display: none
    user-select: none
    z-index: 5
    cursor: pointer
    i
        margin-right: 10px
.hover_stars1
    position: absolute
    z-index: 5
    left: 17%
    top: 25%
    display: none
    .no_gold_star_hover
        color: #fff
        font-size: 1.125rem
.section_post_img
    .hover_comment1
        display: none
        font-size: 1.5rem
        position: absolute
        z-index: 5
        color: #fff
        right: 17%
        top: 25%
// 2
.post_show_more2
    border-radius: 50px
    border: 3px solid #fff
    padding: 5px 18px
    position: absolute
    top: 5%
    left: 16%
    font-size: 0.75rem
    font-family: 'gotham medium'
    text-transform: uppercase
    color: #fff
    display: none
    user-select: none
    z-index: 5
    cursor: pointer
    i
        margin-right: 10px
.hover_stars2
    position: absolute
    z-index: 5
    left: 17%
    top: 25%
    display: none
    .no_gold_star_hover
        color: #fff
        font-size: 1.125rem
.section_post_img
    .hover_comment2
        display: none
        font-size: 1.5rem
        position: absolute
        z-index: 5
        color: #fff
        right: 17%
        top: 25%
// 3
.post_show_more3
    border-radius: 50px
    border: 3px solid #fff
    padding: 5px 18px
    position: absolute
    top: 5%
    left: 16%
    font-size: 0.75rem
    font-family: 'gotham medium'
    text-transform: uppercase
    color: #fff
    display: none
    user-select: none
    z-index: 5
    cursor: pointer
    i
        margin-right: 10px
.hover_stars3
    position: absolute
    z-index: 5
    left: 17%
    top: 25%
    display: none
    .no_gold_star_hover
        color: #fff
        font-size: 1.125rem
.section_post_img
    .hover_comment3
        display: none
        font-size: 1.5rem
        position: absolute
        z-index: 5
        color: #fff
        right: 17%
        top: 25%

// 4
.post_show_more4
    border-radius: 50px
    border: 3px solid #fff
    padding: 5px 18px
    position: absolute
    top: 5%
    left: 16%
    font-size: 0.75rem
    font-family: 'gotham medium'
    text-transform: uppercase
    color: #fff
    display: none
    user-select: none
    z-index: 5
    cursor: pointer
    i
        margin-right: 10px
.hover_stars4
    position: absolute
    z-index: 5
    left: 17%
    top: 25%
    display: none
    .no_gold_star_hover
        color: #fff
        font-size: 1.125rem
.section_post_img
    .hover_comment4
        display: none
        font-size: 1.5rem
        position: absolute
        z-index: 5
        color: #fff
        right: 17%
        top: 25%
