@import fonts
@import colors
@import button
@import jquery.fs.selecter
@import precss

*
    margin: 0
    padding: 0
    clear: both
li
    a
        color: #96a6a7
        &:hover
            text-decoration: none
            color: $red
            transition: .45s ease

#wraper
    max-width: 980px
    width: 100%
    margin: 0 auto
.nav
    width: 100%
    height: 74px
.row
    width: 100%
    display: flex
    align-items: center
.logo
    width: 154px
    font-family: "gotham medium"
    a
        text-decoration: none
        color: #4b5b6a
        font-size: 1.875rem
        &:hover
            text-decoration: none
            color: #4b5b6a
        .logo_text
            padding-left: 5px
.nav_nav
    width: 435px
    ul
        display: flex
        justify-content: space-between
        padding-top: 15px
        li
            display: inline-block
            list-style-type: none
            font-family: "gotham medium"
            text-transform: uppercase
            font-size: 0.875rem
.nav_search
    display: flex
    .nav_search_lupa
        background-color: #e2dee0
        width: 50%
        height: 74px
        display: flex
        justify-content: center
        align-items: center
        .fa
            font-size: 1.5rem
            color: #ffffff
            &:hover
                color: #96a6a7
                transition: .45s ease
    .nav_search_login
        width: 100%
        height: 74px
        background-color: $red
        display: flex
        justify-content: center
        align-items: center
        .fa
            color: #fff
        .login_text
            color: #fff
            margin-left: 20px
            text-transform: uppercase
            &:hover
                color: #666666
                transition: .45s ease
        a:hover
            text-decoration: none
.header_bg
    position: relative
    img
        background-size: cover
        min-width: 100%
        height: auto
        z-index: 0
.header_bg2
    position: absolute
    left: 0
    top: 74px
    width: 100%
    img
        background-size: cover
        min-width: 100%
        height: auto
        z-index: 1
        background-color: rgba(0,0,0,.66)
.header_looking_text
    position: absolute
    z-index: 3
    color: white
    font-size: 1.875rem
    top: 120px
    left: 0
    display: flex
    justify-content: center
    width: 100%
    font-family: "gotham medium"
.header_looking_form
    position: absolute
    z-index: 3
    top: 180px
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    align-items: center
    font-family: "gotham medium"
.header_looking_form_select
    margin-top: 20px
    width: 482px
    margin-left: 10px
    .col-md-6
        padding-right: 0
    // .header_looking_form_select_city, .header_looking_form_select_what
    //     width: 220px
    //     height: 50px
    //     border-radius: 50px
    //     border: 1px solid rgba(102, 102, 102, .7)
    //     padding-left: 25px
    //     color: #fff
    //     background-color: rgba(102, 102, 102, .35)
    //     position: absolute
.header_looking_form_text
    width: 470px
    height: 50px
    border-radius: 50px
    border: 1px solid rgba(102, 102, 102, .7)
    padding-left: 25px
    color: #fff
    background-color: rgba(102, 102, 102, .35)
    font-family: "gotham book"
    //     position: absolute
.sel1
    position: relative
.arow-down
    .fa
        color: #fff
        position: absolute
        top: 25px
        right: 13px
.header_looking_form_button
    +prebutton
    color: #fff
    margin-top: 20px
    text-transform: uppercase
    font-family: "gotham medium"
